#eclipse
*.pydevproject
.project
.metadata
.classpath
classes/**
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.eml
*.userlibraries
local.properties
.classpath
.settings/
.loadpath
.buildpath
.settings/

logs/
*.log
*~
Thumbs.db